In [1]:
import pandas as pd
import numpy as np
import math
import random
from sklearn import preprocessing

In [2]:
def sigmoid(x):
    return 1 / (1 + math.exp(-x))

In [3]:
# read csv
df = pd.read_csv('email_spam.csv')

In [4]:
df.head()

,Unnamed: 0,spam,to_multiple,from,cc,sent_email,image,attach,dollar,winner,inherit,password,num_char,line_breaks,format,re_subj,exclaim_subj,urgent_subj,exclaim_mess,number
0,1,0,no,yes,no,no,no,no,no,no,no,no,11.370,202,HTML,no,no,no,0,big
1,2,0,no,yes,no,no,no,no,no,no,no,no,10.504,202,HTML,no,no,no,1,small
2,3,0,no,yes,no,no,no,no,yes,no,yes,no,7.773,192,HTML,no,no,no,6,small
3,4,0,no,yes,no,no,no,no,no,no,no,no,13.256,255,HTML,no,no,no,48,small
4,5,0,no,yes,no,no,no,no,no,no,no,yes,1.231,29,Plain,no,no,no,1,none

In [5]:
# convert strings to numerical values
keywords = ['yes', 'no', 'HTML', 'Plain', 'none',
           'big', 'small']

mapping = [1,0,0,1,0,1,2]

df = df.replace(keywords,mapping)

In [6]:
df.head()

,Unnamed: 0,spam,to_multiple,from,cc,sent_email,image,attach,dollar,winner,inherit,password,num_char,line_breaks,format,re_subj,exclaim_subj,urgent_subj,exclaim_mess,number
0,1,0,0,1,0,0,0,0,0,0,0,0,11.370,202,0,0,0,0,0,1
1,2,0,0,1,0,0,0,0,0,0,0,0,10.504,202,0,0,0,0,1,2
2,3,0,0,1,0,0,0,0,1,0,1,0,7.773,192,0,0,0,0,6,2
3,4,0,0,1,0,0,0,0,0,0,0,0,13.256,255,0,0,0,0,48,2
4,5,0,0,1,0,0,0,0,0,0,0,1,1.231,29,1,0,0,0,1,0

In [7]:
# normalize df
min_max_scaler = preprocessing.MinMaxScaler()
np_scaled = min_max_scaler.fit_transform(df)
df = pd.DataFrame(np_scaled)

In [8]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.000000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059810,0.049988,0.0,0.0,0.0,0.0,0.000000,0.5
1,0.000255,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055254,0.049988,0.0,0.0,0.0,0.0,0.000809,1.0
2,0.000510,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.040887,0.047501,0.0,0.0,0.0,0.0,0.004854,1.0
3,0.000765,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.069732,0.063168,0.0,0.0,0.0,0.0,0.038835,1.0
4,0.001020,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.006471,0.006963,1.0,0.0,0.0,0.0,0.000809,0.0

In [9]:
# split to train and test sets for holdout crossvalidation

train_ratio = 0.8

In [10]:
# Remove first column which has no purpose
df = df.drop(df.columns[[0]], axis=1)
df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059810,0.049988,0.0,0.0,0.0,0.0,0.000000,0.5
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055254,0.049988,0.0,0.0,0.0,0.0,0.000809,1.0
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.040887,0.047501,0.0,0.0,0.0,0.0,0.004854,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.069732,0.063168,0.0,0.0,0.0,0.0,0.038835,1.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.006471,0.006963,1.0,0.0,0.0,0.0,0.000809,0.0

In [11]:
# create a column called bias
df.insert(df.shape[1], 'bias', 1)
df.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,bias
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.059810,0.049988,0.0,0.0,0.0,0.0,0.000000,0.5,1
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.055254,0.049988,0.0,0.0,0.0,0.0,0.000809,1.0,1
2,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.040887,0.047501,0.0,0.0,0.0,0.0,0.004854,1.0,1
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.069732,0.063168,0.0,0.0,0.0,0.0,0.038835,1.0,1
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.006471,0.006963,1.0,0.0,0.0,0.0,0.000809,0.0,1

In [12]:
# shuffle data array
dataset = df.values
random.shuffle(dataset)

In [ ]:
response_col = 0

rows = df.shape[0]
trainrows = int(train_ratio*rows)

# First Row to the 3136th row, 2nd column to the 20th
trainX = dataset[1:trainrows, response_col+1 : dataset.shape[1]]
# First Row to the 3136th row, 0 column
trainY = dataset[1:trainrows, response_col]

# 3136th Row to the 3921th row, 2nd column to the 20th
testX = dataset[trainrows:dataset.shape[0], response_col+1: dataset.shape[1]]
# 3136th Row to the 3921th row, 0 column
testY = dataset[trainrows:dataset.shape[0], response_col]

In [29]:

# here's where the magic happens

epochs = 10
step_size = 0.01
params_num = testX.shape[1]
# Creates an array size '19' filled with zeros
params = np.zeros((params_num, 1))
# Modifies zeros to number from -0.5 to 0.5
params[:,0] = np.random.uniform(low=-0.5, high=0.5, size=(params_num,))

In [30]:
print('This is the trainX[0] shape')
print(trainX.shape[0])

This is the trainX[0] shape
3135

In [31]:
print('This is the trainX[1] shape')
print(trainX.shape[1])

This is the trainX[1] shape
19

In [28]:
# For each epoch
for i in range(epochs):
    # Shuffles the array testX
    random.shuffle(testX)
    # Creates an array of the size of trainX.shape[0] filled with zeros
    sig_out = [0] * trainX.shape[0]
    # Creates an array of the size of trainX.shape[0] filled with zeros
    diff = [0] * trainX.shape[0]
    
    gradient = np.zeros((trainX.shape[1], 1))
    data = np.zeros((trainX.shape[1], trainX.shape[0]))
    sig_der = np.zeros((trainX.shape[0], trainX.shape[0]))

    # row iterator loop
    for j in range(trainX.shape[0]):
        # compute gradient vector of negative log likelihood

        # compute sigmoid outputs
        sig_out[j] = sigmoid(np.dot(trainX[j], params[:,]))
        diff[j] = sig_out[j] - trainY[j]


        data[:,j] = trainX[j].transpose()
        gradient[:, 0] = gradient[:,0] + np.multiply(trainX[j].transpose(), diff[j])

    print("Epoch %d" % i)
    print("Train RMSE %0.4f" % np.sqrt(np.dot(diff[j], diff[j]) / len(diff)))
    # compute Hessian
    sig_der = np.diag(np.multiply(sig_out, np.subtract(1, sig_out)))
    hess = np.matmul(np.matmul(data,sig_der), np.transpose(data))

    # invert Hessian
    hess = np.linalg.inv(hess)

    # do the weight update
    params[:,] = params[:,]  - step_size* np.matmul(hess, gradient)

    # do testing
    sig_out_test = [0] * testX.shape[0]
    diff_test = [0] * testX.shape[0]
    for k in range(testX.shape[0]):
        # compute sigmoid outputs
        sig_out_test[k] = sigmoid(np.dot(testX[k], params[:, ]))
        diff_test[k] = sig_out[k] - testY[k]

    print("Test RMSE %0.4f" % np.sqrt(np.dot(diff_test, diff_test) / len(diff_test)))

19
Epoch 0
Train RMSE 0.0083
Test RMSE 0.4838
19
Epoch 1
Train RMSE 0.0082
Test RMSE 0.4801
19
Epoch 2
Train RMSE 0.0081
Test RMSE 0.4765
19
Epoch 3
Train RMSE 0.0081
Test RMSE 0.4729
19
Epoch 4
Train RMSE 0.0080
Test RMSE 0.4694
19
Epoch 5
Train RMSE 0.0079
Test RMSE 0.4659
19
Epoch 6
Train RMSE 0.0078
Test RMSE 0.4625
19
Epoch 7
Train RMSE 0.0077
Test RMSE 0.4591
19
Epoch 8
Train RMSE 0.0077
Test RMSE 0.4558
19
Epoch 9
Train RMSE 0.0076
Test RMSE 0.4525

IndentationError: unindent does not match any outer indentation level (<ipython-input-86-0098a9560b0a>, line 6)